{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<main>

    <br>
         <!--Main layout-->
    <div class="container">
        <div class="row">

            <!--Main column-->
            <div class="col-lg-8">
            {% if Word %}
                <!--Post-->
                <div class="post-wrapper">
                {%  for word in words %}
                    <!--Post data-->
                    <h1 class="h1-responsive">{{ word.name }}</h1>

                    <br>

                    <!--Post excerpt-->
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, officia omnis. Vero nihil neque dignissimos hic voluptas quisquam amet porro, similique libero ullam veritatis tempora cumque voluptates harum. Repellendus, impedit.</p>

                    <!--"Read more" button-->
                    <div class="row">
                    <div class="col-lg-8">
                    <div class="col-lg-4">
                    <button class="btn btn-primary">Add to Dictionary</button>
                    </div>
                    </div>
                </div>
                <!--/.Post-->
                {% endfor %}
                <hr>
            {% else %}
                <!--Post-->
                <div class="post-wrapper">
                    <!--Post data-->
                    <h1 class="h1-responsive">No Words</h1>
                    <div class="row">
                    <div class="col-lg-8">
                    <div class="col-lg-4">
                    <button class="btn btn-primary">Add word</button>
                    </div>
                    </div>
                </div>
            {% endif %}


            </div>

                <!--Sidebar-->
                <div class="col-lg-4">

                    <div class="widget-wrapper">
                        <br>   
                        <li class="nav-item btn-group">
                            <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories:</a>
                        {% if Language %}    
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            {% for language in languages %}
                                <a class="dropdown-item">{{ language.name }}</a>
                            {% endfor %}    
                            </div>
                        {% else %}
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <a class="dropdown-item">No Languages</a>   
                            </div>
                        {% endif %}  
                        </li>
                    </div>



                    <div class="widget-wrapper">
                        <h4>Subscription form:</h4>
                        <br>
                        <div class="card">
                            <div class="card-block">
                                <p><strong>Subscribe to our newsletter</strong></p>
                                <p>Once a week we will send you a summary of the most useful news</p>
                                <div class="md-form">
                                    <i class="fa fa-user prefix"></i>
                                    <input type="text" id="form1" class="form-control">
                                    <label for="form1">Your name</label>
                                </div>
                                <div class="md-form">
                                    <i class="fa fa-envelope prefix"></i>
                                    <input type="text" id="form2" class="form-control">
                                    <label for="form2">Your email</label>
                                </div>
                                <button class="btn btn-primary">Submit</button>

                            </div>
                        </div>
                    </div>

                </div>
                <!--/.Sidebar-->
            </div>
        </div>
            
        </div>
    </div>
    <!--/.Main layout-->
</main>
{% endblock %}